{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}
    <title>Planet details</title>
    
<body>
    <div class="planet-details">
        <div class="planet-image">
            <h2>{{ planet.name }}</h2>
            {% if planet.photo %}
                <img src="{{ planet.photo.url }}" alt="Photo">
            {% else %}
                <p>No photo available for this planet.</p>
            {% endif %}
        </div>
    
        <div class="edit-delete">
            <a href="{% url 'edit_planet' planet.id %}">
                <button class="edit-button" type="button">
                <img class="edit-img" src="{% static 'images/pencil_icon.png' %}" alt="edit-icon">
                Edit planet
                </button>
            </a>
            <a href="{% url 'delete_planet' planet.id %}">
                <button class="delete-button" type="button">
                <img class="delete-img" src="{% static 'images/bin_icon.png' %}" alt="delete-icon">
                Delete planet
                </button>
            </a>
        </div>
    </div>
</body>
{% endblock %}
