{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}
    <title>Search for planets</title>
    <div class="search-results-container">
        <h1 class="search-results-header">Planet Search Results</h1>
        {% if planets %}
            <div class="search-results-list">
                {% for planet in planets %}
                    <div class="search-results-item">
                        <a href="{% url 'details_planet' planet.id %}">{{ planet.name }}</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No planets found for "{{ query }}".</p>
        {% endif %}
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/search-results.css' %}">
{% endblock %}
