{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<body>
    <div class="email-greeting-container">
        <div class="content">
            <h1>Hello, {{ user.username }}!</h1>
            <div class="image-container">
                <img src="{% static 'images/Welcome_page.jpg' %}" alt="Welcome to Planet Discoverers!" class="image">
            </div>
            <p class="text">Congratulations on creating your profile at Planet Discoverers!</p>
            <p class="text">Now even the sky is not a limit for you! It's just a frontier! ;)</p>
            <div class="icon-container">
                <img src="{% static 'images/saturn-icon.png' %}" alt="saturn_icon" class="icon">
            </div>
        </div>
    </div>
</body>
{% endblock %}
