.login-register-div {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
}

.login-register-box {
    width: 300px;
    max-height: calc(100vh - 100px);
    padding: 5px 20px 5px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 60px;
}

.login-register-box form input[type="text"],
.login-register-box form input[type="email"],
.login-register-box form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-register-box form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.login-register-box form button[type="submit"]:hover {
    background-color: #0056b3;
}

.have-account {
    text-align: center;
    margin-top: 10px;
}

p.have-account > a {
    vertical-align: baseline;
}

.user-details li img {
    max-width: 100%;
    max-height: 300px;
}