.planet-details {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.planet-form {
    width: 50%;
    max-height: calc(100vh - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin: 0 auto;
}

.planet-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.planet-form .form-group {
    margin: 0 auto;
}

.planet-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.planet-form input[type="text"],
.planet-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.planet-form textarea {
    height: 120px;
}

.planet-details h2 {
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(to right, rgba(0, 22, 225, 0.86) 0%, #7fff01 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.edit-delete-btns {
    display: flex;
    justify-content: space-between;
}

.edit-delete-btns button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #ffc67b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-delete-btns button:hover {
    background-color: #0056b3;
}

.edit-delete-btns button img {
    margin-right: 10px;
}

.planet-image {
    display: block;
    margin: 20px 0;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 10px); /* Adjust the width if you need 2 per row with a gap */
    margin-bottom: 20px;
}

.photo-container img {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures images maintain aspect ratio */
}

.btn-delete-photo {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ffc67b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-delete-photo:hover {
    background-color: #0056b3;
}

.upload-photo-btn {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.upload-photo-btn a {
    margin: 0 10px;
}
