.user-details {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.user-details h1 {
    text-align: left;
    margin-bottom: 20px;
}

.user-details ul {
    list-style: none;
    padding: 0;
}

.user-details ul li {
    margin-bottom: 10px;
}

.user-details .edit-delete-btns {
    margin-top: 20px;
}

.back-link {
    margin-top: 20px;
    text-align: center;
}

.email-greeting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.email-greeting-container .content {
    text-align: center;
    color: #f5dd5d;
}

.email-greeting-container .image-container {
    margin-top: 20px;
}

.email-greeting-container .image {
    width: 100%;
    max-width: 400px;
}

.email-greeting-container .text {
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.email-greeting-container .signature {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.email-greeting-container .icon-container {
    margin-top: 20px;
}

.email-greeting-container .icon {
    width: 50px;
}