{% extends 'base/base.html' %}
{% block page_content %}

<div class="edit-delete-photo">
    <div class="edit-delete-box-photo">
        <h2>Edit Photo</h2>
        <form action="{% url 'edit_photo' pk=photo.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_image">Photo:</label>
                {{ form.image }}
            </div>
            <div class="form-group">
                <label for="id_description">Description:</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="id_location">Location:</label>
                {{ form.location }}
            </div>
            <div class="form-group">
                <label for="id_date_of_publication">Date of Publication:</label>
                {{ form.date_of_publication }}
            </div>
            <input class="btn-submit" type="submit" value="Save Changes">
        </form>
    </div>
</div>

{% endblock %}
